


p{ /*förändrar mina stycken*/
    font-family: 'Montserrat', sans-serif; /*ändrar font*/
}

body{ /*ändrar hela hemsidan*/
    height: 95vh; /*modifierar höjden*/
}


.wrapper{
 display:grid; /*visar min grid*/
 height: 100%;
 width: 100%; /*modiferar bredd*/
 grid-template-rows: 100px auto 50px; /*storleken på mina olika områden i min grid*/
 margin: 0 auto; /*ändrar margin*/ 
 grid-template-areas: /*skapar mina grid områden*/
 "header"
 "main"
 "footer";
}



.nava{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px; /*storlek på texten*/
    color: white; /*färg på texten*/
    text-decoration: none; /*förändrar dekorationer på text om underline*/
    padding: 9px 25px; /*ändrar hur mycke padding*/
    background-color: rgb(121, 69, 121); /*bakgrund färg*/
    border-radius: 50px; /*rundade kanter*/
  
    
}

.spalt{
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    
}



header{ 
    padding: 30px 10%;
    background-color: rgb(121, 69, 121);
    
}

.logo{
    height: 70px; 
    position: absolute; /*gör så att man får modifera precis vart den sitter*/
    top: 25px;
    left: 10px;
}

.pic1{
    width: 100%;
    border-radius: 10px; 
    height: 280px;
    
}
.pic2{
    width: 100%;
    border-radius: 10px;
    height: 250px;
    
}


.nav-links {
    list-style: none; /*tar bort prickarna från listan*/
   
}

.nav-links li{
    display: inline-block; /*gör så att dom inte tar upp hela sidan */
    padding: 0% 10px;

}


.nava:hover{ /*när du håller över nav*/ 
    background-color: black;
    transition: 0.5s;
}

footer{
    grid-area:footer; /*väljer vilken del av min grid det är*/
    background-color: rgb(105, 105, 105);
    height: 80px;
    color: white;   
    border-top: solid rgb(121, 69, 121); /*ändrar bara översta delen av bordern*/ 
    padding-left: 50px;
    font-family: 'Montserrat', sans-serif;
}

.article{
    text-align: left;
    display: inline-block;
    width: 400px;
    margin-top: 15px;

}


h1{
    margin-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    
}


table{
    border: 1px solid black;
    padding: 2px;
    border-collapse: collapse;
    margin: auto;
    width: 400px;
    text-align: left;
    margin-top: 5%;
   

  
}

th, td{
    
    border-top: 1px solid grey;
}

tr:nth-child(even){ /*förändrar varje jämn tr*/
    background-color: lightgray;
}


.player{
   
    display: inline-block;
}

.ISAK2{
    width: 300px;

}

.player > p{ /*alla p innanför klass player*/ 
    
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    margin: 0;
    background-color:rgb(121, 69, 121);
    border-radius: 10px;
    text-align: center;
}

.spelare > section{
    margin-left: 800px;
    margin-top: 50px;
}

